@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  box-sizing: border-box;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--Dark-Grey, #18171f);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--Neon-Green, #a4ffaf);
}

input[type="range"]::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--Very-Dark-Grey, #18171f);
  border: 2px solid #a4ffaf;
  transition: 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
